# Boston  House price Prediction

# Attribute Information
1) CRIM: per capita crime rate by town

2) ZN: proportion of residential land zoned for lots over 25,000 sq.ft.

3) INDUS:proportion of non-retail business acres per town

4) CHAS: Charles River dummy variable (1 if tract bounds river; 0 otherwise)

5) NOX: nitric oxides concentration (parts per 10 million) [parts/10M]

6) RM: average number of rooms per dwelling

7) AGE: proportion of owner-occupied units built prior to 1940

8) DIS: weighted distances to five Boston employment centres

9) RAD: index of accessibility to radial highways

10) TAX: full-value property-tax rate per $10,000

11) PTRATIO: pupil-teacher ratio by town

12) B: The result of the equation B=1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

13) LSTAT: % lower status of the population



Output variable:
1) MEDV: Median value of owner-occupied homes in $1000's

Source
StatLib - Carnegie Mellon University

# Import Libraries
Pandas — For handling structured data

Scikit Learn — For machine learning

NumPy — For linear algebra and mathematics

Seaborn — For data visualization

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Read Data

In [2]:
#read the data and store in data frame

df_1=pd.read_csv('housing_price.csv')

In [3]:
type(df_1)

pandas.core.frame.DataFrame

In [4]:
df_1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [5]:
# print 10 rows from top of the data
df_1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
df_1.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
# print 10 rows from the bottom of the data
df_1.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [8]:
df_1.rename(columns={'MEDV':'Price'},inplace=True)

In [9]:
# price is dependent feature (predicted)
df_1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [10]:
df_1.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [11]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  Price    506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [12]:
df_1.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

In [13]:
# dividing the dataframe into independent and dependent feature
x=df_1.iloc[:,:-1] # independent feature 
y=df_1.iloc[:,-1] # dependent features

In [14]:
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [15]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Price, dtype: float64

## linear regresson

In [16]:
from sklearn.model_selection import train_test_split

x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.50,random_state=42)

In [17]:

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

lin_reg=LinearRegression()

lin_reg.fit(x_train,y_train)

mse=cross_val_score(lin_reg,x_train,y_train,scoring='neg_mean_squared_error',cv=10)

mean_mse=np.mean(mse)

print(mean_mse)# we will get average score (we are getting negative mean value because we are using negative mean squired error)
print(mse)

-28.1634798975266
[-16.68956853 -13.33920631 -12.40451952 -55.44075596 -12.1671479
 -27.68356344 -19.51763453 -32.8363322  -37.20951151 -54.34655907]

In [18]:

lin_reg.fit(x,y)

lin_reg.predict(x_test)

array([16.1114628 , 31.91054611, 27.36266999, 34.70469116, 20.23274414,
       15.82082058, 19.29559075,  8.5149902 , 14.25756243, 26.91395839,
       16.36661977,  3.66399672, 24.72744978, 12.1488148 , 28.42940678,
       33.79668274, 35.78159518, 25.40253506, 20.55738556, 30.99238036,
       37.07148392, 20.01638775, 19.45516196, 28.94275871, 14.32486632,
       15.22308298, 10.89016778, 20.10174154, 22.48178446, 30.76831792,
       29.7458199 , 18.52177132, 29.68652768, 14.05573285, 14.62617624,
       34.40349633, 19.98446605, 14.36994825, 23.46878866, 22.20218887,
       19.53928758, 24.42982348, 34.60684042,  4.86751102, 20.77323638,
       32.92231568, 18.54266897, 22.04734975, 22.14060692, 21.32536104,
       12.8763379 , 37.16328631, 25.48120057, 24.78867379, 15.87841883,
       32.6692081 , 36.48361421, 38.0481048 , 20.43025591, 21.91632071,
       16.88063827, 38.37102453,  8.06626193, 21.42939305, 15.17876684,
       27.3565923 ,  9.58376737, 20.75049026,  0.77779806, 17.22742507,
       15.75807673, 10.83162324, 22.94149176, 16.88541964, 30.36148358,
       44.67308339, 27.79049195, 24.12007891, 35.88497226,  9.92374976,
       25.56752769, 20.90652153, 23.81463526, 19.54737285, 22.5551466 ,
       14.59495478, 18.26126587, 22.14837562, 23.77456656, 28.62459949,
       23.97222285, 27.29375938, 17.74061065, 13.4276828 , 31.43571968,
       28.02056414, 12.70609699, 17.29887265, 23.68284712, 40.33963075,
       23.97228316, 13.36660811, 27.94352423, 37.51109239, 22.48944791,
       24.58022019, 37.58605755, 18.69554354, 25.21942554, 16.34590647,
       24.29082812, 35.11454587, 31.8333982 , 24.51049148, 18.51110208,
       18.03655088,  8.81105736, 40.8395575 , 19.34089616, 30.64393906,
       19.41291095, 14.70847428, 20.22124193, 24.48449227, 34.81211508,
       27.2136458 , 40.55765844, 13.04234787, 13.81483897, 23.98742856,
       17.26277735, 18.93868592, 28.56994302, 11.52363685, 23.68076177,
       18.58838397, 23.37308644, 30.77159449, 19.28348205, 13.62125891,
       34.21510225, 16.83512587, 17.88616253, 19.98294786, 26.60334775,
       35.30980701, 13.06591313, 26.12796681, 19.28490387, 30.10010745,
       17.85447214, 22.73892921, 28.45764337, 19.7740732 , 25.04215821,
       20.61249414, 20.31911854, 32.79887232, 20.45944095, 25.70817905,
       29.28719501, 36.77467015, 24.60979273, 28.35518713, 17.81174507,
       30.76109485, 23.58965827, 34.98988594, 18.53994008, 24.04901809,
       14.20764735, 25.02556238, 17.68344618, 11.85583717, 17.20607751,
       14.60661794, 28.40576968, 22.69034796, 13.70675891, 18.15955693,
       34.44634089, 14.07519426, 15.54286248, 27.41266734, 21.24965774,
       21.86276391, 27.6558508 , 16.54501121, 35.83397547, 23.74262478,
       19.55290281, 20.53909901, 30.67461827,  5.6186481 , 35.47676598,
       37.20347455, 21.17418105, 21.29805174, 13.25645238, 35.56226857,
       19.65591961, 21.32529039, 27.40208414, 15.3618477 , 20.23150811,
       21.28152535, 20.17208927, 26.5219434 , 11.97400359, 34.51509949,
       22.37571892, 22.42940768, 33.42476722, 26.65382114, 21.77537987,
        9.10655377, 28.54794117, 25.26705571, 24.91964007, 17.67103669,
       25.54580246, 18.51247609, 32.70827666, 35.61085858, 18.05901029,
       30.28934141,  8.06022171, 25.81783237, 11.80578387, 27.70647912,
       43.30239043, 28.64244237, 14.80451374, 20.03527399, 18.30101169,
       19.20548057, 32.25102801, 25.9998091 , 25.89276415, 17.18668531,
       21.59260894, 11.11916737, 14.37478523, 22.47107777, 22.34421229,
       12.52385753, 32.41199147, 21.7426577 , 17.18755992, 22.30295533,
       27.54205117, 13.36141611, 19.79013684])

In [19]:
#Ridge regression model
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
ridge=Ridge()

params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20]}

ridge_regressor=GridSearchCV(ridge,params, scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20]},
             scoring='neg_mean_squared_error')

In [20]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 1e-15}
-26.732270403330613

In [21]:
## Lasso regresson model
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

lasso=Lasso()

params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,25,30,40,50]}

lasso_regressor=GridSearchCV(lasso,params, scoring='neg_mean_squared_error',cv=10)
lasso_regressor.fit(x,y)
lasso_regressor.predict(x_train,)

C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.192e+03, tolerance: 4.070e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.972e+03, tolerance: 4.117e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.500e+03, tolerance: 4.124e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.074e+03, tolerance: 3.342e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.602e+03, tolerance: 3.759e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.947e+03, tolerance: 3.441e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.167e+03, tolerance: 4.189e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.649e+03, tolerance: 3.382e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.817e+03, tolerance: 3.736e+00
  model = cd_fast.enet_coordinate_descent(
C:\Users\Hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.078e+03, tolerance: 4.100e+00
  model = cd_fast.enet_coordinate_descent(

array([28.9496289 , 35.8678197 , 13.51739058, 24.46274511, 18.75150443,
       22.57790401, 17.61505448, 13.5482421 , 22.60277897, 20.55078013,
       24.5413444 , 18.89846808, -4.33748688, 20.99784103, 19.45295942,
       25.51576694, 20.40147345,  6.44716267, 40.78356644, 17.66888687,
       27.28202212, 30.2791581 , 11.50869985, 23.7345769 , 18.2751953 ,
       16.11097537, 22.19836593, 15.38615733, 22.00690855, 19.23491775,
       22.80487597, 24.96400462, 25.31760442, 18.59806785, 16.64953976,
       17.90985165, 30.55963821, 20.41788427, 23.22411983, 23.93928374,
       14.08678554, 32.64551957, 43.07542586, 17.31060034, 27.07841493,
       17.30447294, 14.33433552, 25.10319611, 19.94894152, 30.13974824,
       21.57663498, 34.2468744 , 15.9094337 , 25.62550166, 39.43236543,
       22.17655753, 18.96731283, 33.42680892, 24.75016087, 13.32042079,
       22.71510785, 31.32379639, 31.2897301 , 16.40100855, 20.75365278,
       16.56545952, 20.36375054, 26.01934294, 31.42828657, 12.80054638,
       20.35937362, 26.81074604, 11.68725201, 17.00430994, 23.07496023,
        6.56749851, 21.36622693, 41.90890475, 18.44142482,  7.93331704,
       20.70929235, 13.35833507, 21.74442199,  9.93171565, 23.2395629 ,
       31.47129298, 19.21827059, 25.24173883, 28.94287378, 19.39625056,
       25.62727931,  6.85307941, 19.48376998, 14.84395072, 14.47762003,
       20.14177412, 24.79955946,  1.29009255, 14.70863693, 16.60750999,
       22.10228276, 23.71652019, 11.31365038, 19.54630079, 23.36455432,
       12.91083551, 18.56763627, 24.8978471 , 20.95652842, 25.01398556,
        8.93484284, 19.5310167 , 21.91520875, 27.72934238, 32.28603976,
       16.0923563 , 34.66047914, 13.49717376, 20.77879432, 28.38721312,
       16.26545993, 24.3184763 ,  6.18903333, 23.60544623, 25.28716318,
       22.95818561, 25.42427767, 33.81228654, 20.57006191, 38.62287261,
       14.38521362, 24.26312212, 18.15444639, 20.54970079, 10.29194444,
       21.27840255, 22.43192594, 33.13564303, 31.49265826, 15.78304408,
       17.04802635, 29.04812666, 25.38808674, 16.63218384,  7.44963812,
       26.75258506, 22.83491158, 17.52224202, 13.85941339, 39.69476019,
       17.1657374 , 18.37997868, 25.36590587, 23.30715881, 22.05368573,
       20.85510325, 16.79531728, 23.09716049, 28.76458242,  8.31879999,
       24.72729279, 17.91066552, 20.68586069, 24.94323148, 28.48086027,
       21.01559134, 41.20533191, 19.02101238, 15.59818134, 19.44503716,
       15.76901964, 22.56459533, 23.19722238, 33.0884212 , 22.2630449 ,
       20.22082424, 25.055996  , 30.77473187, 32.88588911, 28.45088216,
        9.28283453,  5.96618941, 13.08424785, 19.79227473, 34.65270359,
       32.84100371, 16.62469336,  3.88066274, 32.36628525, 21.0706373 ,
       19.3005729 , 26.19692987, 18.54070999, 18.02542718, 11.90307784,
       32.06893674, 24.20056047, 19.68886031, 19.7509846 , 12.56304022,
       28.73066817, 20.62008365, 31.84503507, 33.26821524, 24.99971779,
       21.30812354, 25.18832033, 41.53565563, 30.15536309, 33.21498089,
       25.35339462, 26.95549701, 15.94454978, 30.17165228, 20.73040513,
       31.56175942, 28.76058052, 20.89888482, 22.92860215, 13.05410743,
       35.52654978, 37.36845768, 32.70060288,  6.15157822, 20.35672908,
       22.33209776, 35.99302722, 16.45238338, 23.69010367, 19.81412499,
       26.95640102, 15.79629146, 21.17857427, 26.44355617, 30.83658693,
       31.3949823 , 23.00152895, 37.56683308, 27.7826345 , 30.36642445,
       28.83006521, 21.49499116, 29.09306062, 16.36961861, 22.60430237,
       24.3538733 , 18.92705353,  3.28128936, 20.25924205, 26.88084036,
       23.01934855, 18.41983973, 22.92068458])

In [22]:
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

{'alpha': 0.01}
-34.45554381307911

In [23]:
y_pred=lin_reg.predict(x_test)
from sklearn.metrics import r2_score
r2_score1=r2_score(y_pred,y_test)
print(r2_score1)

0.6741229818393258